body
{background-image:url(moon.jpg);
 background-position:centre;
 position: relative;
 background-size: cover;
}
.nav{
    font-family:cursive;

}
.me{
 color:seashell;
 text-decoration: dotted;
 font-family: fantasy;
}