body{
    background-image:none;
    background-color:  rgb(247, 225, 240);
}
.h2{
    text-align:center;
}
form{
    width:85%;
    max-width: 605px;
    padding: 80px 0 0 400px ;
}
.group{
    position:relative;
    margin-bottom: 25px;
}
input,textarea{
    padding: 15px;
    color:plum;
    width:95%;
    outline:0;
    background: transparent;
    border-radius: 0 3px;
    font-size:17px
   
}
button{
    padding:15px 0;
    outline:none;
    color:darkgreen;
    border:2px solid hotpink;
    background: transparent;
    width:85%;

    cursor:pointer;
}
label{
    position: absolute;
    padding:15px;
    left:0;
    top:0;
    height:100%;
   cursor:text;
    color:darkgreen;
    transition: 0.3s;
}
input:focus~label,
input:valid~label
{
 top:-35px;
 font-size: 15px;
}
.fhoot{
    display:flex;
    padding:20px;
    background-color:rgb(179, 206, 206);
    padding:10px 0;
    height:10px;
}
.tain{ 
    margin:auto;
    max-width:1180px;
   }
ul{
    list-style:none;
}
.fhoot-col{
    width:30%;
    padding: 0 20px;
    text-transform: uppercase;
}
.each{
    display: flex;
    flex-wrap:wrap;
}
.fhoot-col h4{
    font-size:17px;
    font-weight:450px;
    color:darkgreen;
    text-transform:29px;
    margin-bottom:25px;
    position:relative;
}
.footer-col h4 ::before{
    position:relative;
    left:1;
    bottom:-11px;
    background-color:bisque;
    height:3px;
    width:55px
    box-sizing: content-box;
}
.fhoot-col ul li a:hover{
    color:antiquewhite;
    padding-left:9px;
}