.lag{
    width: 90px; height: 10vh;
    margin-right: 140px;}
/* [SCREEN] */
/* coverage */
.hamnav {
    width:100%;height: 10vh;
    list-style: none;
    display: flex;
    margin:0px;
    position:sticky;
    align-self: center;
}
 .hamitems{display:flex}
 .hamitems ul a{
    padding-right:30px;background-color: rgb(135, 187, 161);
    flex-grow: 1;
    flex-basis: 0;
    text-decoration: none;
    text-align: center;
    padding: 30px;color: white;
    border-radius: 10px 0px;
    transition: 0.8s;
    padding-top: 5px;
    padding-bottom: 8px;
   }
   .hamnav ul li{
    list-style: none;
    display:inline-block;
    padding-left: 55px;
    position: relative;
    margin-bottom: 5px;}
    .hamnav a.active{
        background-color:rgb(202, 192, 221);
        
        text-decoration: underline green;
    }
  
  .hamitems a:hover { background-color: white; 
    color: rgb(70, 6, 70);
    
    text-decoration-style: double; }
  
  /* ( HIDE HAMBURGER */
  .hamnav label,.hamburger { display: none; }
  /* [responsive] */
@media screen and (max-width: 700px){
    /*  BREAK INTO VERTICAL MENU */
    .hamitems  a {
      box-sizing: border-box;
      display:block;
      width: 100%;
 
      
    }
    .hamnav{
        width:90%;
       
    }
    /*  SHOW HAMBURGER ICON */
    .hamnav label { 
      display: inline-block; 
      color: white;
      background: #ad3ef7;
      font-style: normal;
      font-size: 1.2em;
      padding: 2px 2px 0px 2px;
    
    }
  
    /* (C) check MENU */
    .hamitems,.lag{ display: none; }
    .hamnav input:checked ~ .hamitems { display: block; }
    
    }
  body{
    background-image: none;
    background-color: #f8daec;
  }/*portfolio css/*
  /*container includes */
.parentcard{display: flex;justify-content: space-between;}
.box{
    display:flex;
    margin:10px;
    border-radius:5px
}
/*cards includes*/
.slide{

    box-shadow:5px 5px 20px black;
    overflow:hidden;
    padding: 5px;
    height: 300px;
    width: 300px;
    margin: 80px;
}
/*images*/
.img{
    height:100px;
    width:350px;
    border-radius: 5px;
    transition:0.6s;
    }
    /*intro*/
.details{
    
    box-sizing: border-box;
    position: absolute;
    top: 460px;
    margin: 30px;
    color:black;
    transition: 0.6s;
    opacity: 0;padding: 0px 20px;
    width: 350px;
}

.p{
    font-size:2px;
    margin:5px;
    visibility: hidden;
    opacity: 0;
    
}
.span{
    font-weight:bold;
}
.slide img{transition: 0.8s;}
/*effect on cards*/
.slide:hover{
    cursor: pointer;
}
.slide:hover .details{
    height:100px;
    bottom: 70px;
    background:transparent;
    width:350px;
    margin-left: -50px;
    text-align: center;opacity: 1;padding:0px  20px;border-radius: 10px;
    
}
.slide:hover p{
    opacity:1;
    visibility:visible;
}
.slide:hover .details{
    height:100px;
    bottom: 70px;
    background:transparent;
    width:350px;
    margin-left: -50px;
    text-align: center;opacity: 1;padding:0px  20px;border-radius: 10px;
    
}
.slide:hover p{
    opacity:1;
    visibility:visible;
}
.slide:hover img{
    transform:scale(1.2) rotate(-1deg);transition: 0.8s;
}



  /*portfolio responsive*/
  @media screen and (max-width: 700px){
 .parentcard{
    display:block;
    justify-content: space-between;
 }
  /*cards includes*/
.slide{

    box-shadow:5px 5px 20px black;
    overflow:hidden;
    padding: 5px;
    height: 30px;
    width: 30px;
    margin: 0px;
}
/*images*/
.img{
    height:10px;
    width:50px;
    border-radius: 5px;
    transition:0.6s;
    }
    /*intro*/
.details{
    
    box-sizing: border-box;
    position:relative;
    top: 20px;
    margin: 30px;
    background:lavender;
    color:lavender;
    transition: 0.6s;
    opacity: 0;padding: 0px 20px;
    width: 30px;
}
.h2{
    margin:10px;
    font-size:5px;
    text-align: center;
   }
.p{
    font-size:2px;
    margin:5px;
    visibility: hidden;
    opacity: 0;
    
}
.span{
    font-weight:bold;
}
.slide img{transition: 0.8s;}
  }
/*work css*/
.poon{
    height: 70px;
    width:900px;
    margin-left: 60px;
    padding: 200px;
    border-radius: 0 100px;
    background-image: url(poonhill1.jpg);
    background-size: 100% 100%;
    animation:neimage 10s linear infinite; transition-delay: 0.8s;
    display: grid;
   }
   .p{
    text-align: center;
    font-size: 20px;
    visibility: visible;
    opacity: 5;}
   @keyframes neimage{
    1%{
    background-image: url(maipoon.jpg);
   } 
    24%{
    background-image: url(maipoon1.jpg);}
    51%{
        background-image: url(maipoon2.jpg);}
    77%{
        background-image: url(maipoonhill.jpg);}
    
    
    100%{
        background-image: url(poonhill1.jpg);}
  
        }
/*work experience rsponse*/

@media screen and (max-width: 700px){
.poon{
    height: 80px;
    width:200px;
    margin-left: 60px;
    padding: 2px;
    border-radius:0px;
    background-image: url(poonhill1.jpg);
    background-size: 100% 100%;
    animation:neimage 10s linear infinite; transition-delay: 0.8s;
    display: grid;
   }
   .p{
    text-align: center;
    font-size: 7px;
    visibility: visible;
    opacity: 5;
   }
   @keyframes neimage{
    1%{
    background-image: url(maipoon.jpg);
   } 
    24%{
    background-image: url(maipoon1.jpg);}
    51%{
        background-image: url(maipoon2.jpg);}
    77%{
        background-image: url(maipoonhill.jpg);}
    
    
    100%{
        background-image: url(poonhill1.jpg);}
  
        }
    }
    /* css for conta*/
 
    form{
        width:85%;
        max-width: 605px;
        padding: 80px 0 0 400px ;
    }
    .group{
        position:relative;
        margin-bottom: 25px;
    }
    input,textarea{
        padding: 15px;
        color:plum;
        width:10px;
        outline:0;
        background: transparent;
        border-radius: 0 3px;
        font-size:17px
       
    }
    button{
        padding:15px 0;
        outline:none;
        color:darkgreen;
        border:2px solid hotpink;
        background: transparent;
        width:85%;
    
        cursor:pointer;
    }
    label{
        position: relative;
        padding:15px;
        left:0;
        top:0;
        height:100%;
       cursor:text;
        color:darkgreen;
        transition: 0.3s;
    }
    input:focus~label,
    input:valid~label
    {
     top:-35px;
     font-size: 15px;
    }
    /*css of foot*/
    .fhoot{
        display:flex;
        padding:20px;
        background-color:rgb(179, 206, 206);
        padding:10px 0;
        height:10px;
    }
    .tain{ 
        margin:auto;
        max-width:1180px;
       }
    ul{
        list-style:none;
    }
    .fhoot-col{
        width:30%;
        padding: 0 20px;
        text-transform:lowercase;
    }
    .each{
        display: flex;
        flex-wrap:wrap;
    }
    .fhoot-col h4{
        font-size:17px;
        font-weight:450px;
        color:darkgreen;
        text-transform:29px;
        margin-bottom:25px;
        position:relative;
    }
    .footer-col h4 ::before{
        position:relative;
        left:1;
        bottom:-11px;
        background-color:bisque;
        height:3px;
        width:55px;
        box-sizing: content-box;
    }
    .fhoot-col ul li a:hover{
        color:antiquewhite;
        padding-left:9px;
    }
    /*css for homeinde*/
    .hum{
       width:98%;
       height:95vh;
        display:flex;
      
        overflow:hidden;
        padding-left:30px;
    }
     .uoline{
        position:relative;
        letter-spacing: 10px;
        font-size:200px;
        color:darkgreen;
        display:block;
         padding-left: 50px;}
        
    
        .mantext{
            text-transform: capitalize;
            color:navy;
            text-align: right;
        }
        h1{
            font-weight:bolder;
            display:block;
            color:darkgreen;
            font-size:8em;
        }
         .hom{
            width:95%;
            color:darkgreen;
            display:block;
            font-size:30px;
            padding-top:90px;
            margin:0;
            padding-right: 90px;}
            /*css for respond home*/






            /*site css*/
            .mainsite{
                text-align:left;
               }
               .p{
                text-align:center;
                font-size:3px;
               }
