body{
    background-color: rgb(248, 238, 245);
    background-image: none;
}
.poon{
    height: 70px;
    width:900px;
    margin-left: 60px;
    padding: 200px;
    border-radius: 0 100px;
    background-image: url(poonhill1.jpg);
    background-size: 100% 100%;
    animation:neimage 22s linear infinite; transition-delay: 0.8s;
    display: grid;
   }
   @keyframes neimage{
    1%{
    background-image: url(maipoon.jpg);
   } 
    24%{
    background-image: url(maipoon1.jpg);}
    51%{
        background-image: url(maipoon2.jpg);}
    77%{
        background-image: url(maipoonhill.jpg);}
    
    
    100%{
        background-image: url(poonhill1.jpg);}
  
        }