body{
    background-color: rgb(248, 238, 245);
    background-image: none;
}
.poon{
    height: 550px;
    width:1100px;
    text-align: center;
    padding: 0 200px;
    border-radius: 0 4px;
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.imslide{
    background-image: url(poonhill1.jpg);
    
}